# environment
.env
.env.local

# prisma local db
*.db
*.db-journal
/prisma/migrations/dev.db*

# dependencies
/node_modules

# next
/.next/
/out/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
devlog.txt
.codex-dev.*.log

.vercel
